@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  font-family: nunito, sans-serif;
}

*,
*::before,
*::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'PokemonHollow';
  src: url('/assets/fonts/PokemonHollow.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PokemonSolid';
  src: url('/assets/fonts/PokemonSolid.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('/assets/fonts/Nunito.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

progress::-webkit-progress-bar {
  margin-top: 3px;
  background-color: #dedede; /* Color de fondo de la barra */
  border-radius: 10px; /* Bordes redondeados */
  height: 8px; /* Altura de la barra */
}

/* Estilo para la parte que indica el progreso */
progress::-webkit-progress-value {
  background-color: rgb(46, 101, 255); /* Color del progreso */
  border-radius: 10px; /* Bordes redondeados */
}
